*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background: #1e1e1e;
    width: 100vw;
    position: fixed;
    z-index:100;
}

body{
    height: 1000px;
    background: #d6ffa1;
}

nav{
    float: left;
    height: 60px;
}

nav ul{
    list-style: none;
    overflow: hidden;
}

nav ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    float: left;
    
}

nav ul li a{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
    
}

nav ul li:hover{
    background: #8dff83;
    overflow: hidden;
    
}
nav ul li a:hover{
    color: #1e1e1e;
}
main{
    padding-top: 50px;
}